:root {
  --white: #fff;
  --primary: #f5740b;
  --primary-hover: #df6a0a;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Outfit", sans-serif;
  background-image: url("/bg-lightning.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 100vh;
  color: var(--white);
  font-size: 2rem;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
}
